body {
    font-family: 'Open Sans', sans-serif;
}
.info-column {
    background: navy;
    color: white;
    text-align: center;
}
.name {
    font-family: 'Lato', sans-serif;
    font-style: bold;
}
h2 {
    font-family: 'Lato', sans-serif;
    float: left;
}
.position {
    font-style: italic;
}
.dates {
    float: right;
}
h3 {
    font-weight: bold;
}